/*General CSS*/
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}
  
  
  
  .right{
    float: right;
    max-width: 100%;
    /* position: absolute !important; */
    right: 0px;
    text-align: right;
    padding-right: 20px;
  }
  
  .uppercase{
      text-transform:  uppercase;
  }
/*ends*/

/* begins*/
.logo{
    display: none;
    float: left;
    position: sticky;
    top: -58px;
    background-color: red;
    background-image: linear-gradient(-40deg, OrangeRed, MediumVioletRed);
    height: 120px;
    width: 120px;
    z-index: 501;
  }
  .logo > h1{
    width: 80px;
    display: block;
    position: sticky;
    top: 7px;
    margin: auto;
  }
  
  .title{
    color: white;
    position: absolute;
    background-image: linear-gradient(170deg, #f42b, #0000, #0000);
    width: 100%;
    height: 100%;
  }
  .title > h1{
    padding-left: 25px;
    font-size: 10vw;
    margin-top: 10px;
  }
  header{
    background-color: black;
    color: grey;
    height: 3.25em;
  }
  
  header > ul, .navbar > ul{
    list-style: none;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    max-width: calc(100% - 340px - 120px);
    white-space: nowrap;
    overflow: hidden;
  }
  .navbar > ul{
    max-width: calc(100% - 140px - 120px);
  }
  
  header > ul > li , .navbar > ul > li{
    display: inline;
    white-space: nowrap;
    padding-right: 5px;
  }

  .navbar{
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    color: grey;
    z-index: 500;
    height: 3.25em;
  }
  
  .navbar > ul > li{
    display: inline;
    padding-right: 10px;
  
  }

  .alert {
    margin: 0;
    padding: 10px 20px;
    color: black;
    background-color: gold;
    top: 52px;
    z-index: 1000;
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  
  .search , .menu{
    border-width: 1px;
    border-left-style: solid;
    display: inline;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .menu{ display: none;}
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/*Responsive Design begins*/
@media screen and (max-width: 1024px) {
    .navbar > ul.right{ display: none;}
    .logo{ display: block; }
    .title{ display: none; }
    .grid-content{ grid-template-columns: repeat(2, 1fr);}
    .row-item:nth-of-type(n + 4){  display: none;  }
}
  
@media screen and (max-width: 767px){
    .navbar > ul , header > ul{
        display: none
    }

    .menu{ 
        display: inline;
    }

    .logo{
      height: 52px;
      top: 0;
    }

    .logo > div{
        display: none;
    }

    header{
      float: left;
      position: fixed;
      top: 52px;
      height: 2.375em;
      width: 120px;
      z-index: 1001;
    }

    .alert {
      margin-left: 120px;
      width: calc(100% - 120px);
    }
}
/*Responsive ends*/









/* begins*/
/*ends*/
